* @Typeform/security
.github/workflows/go-lint-workflow.yaml                     @Typeform/architecture
reusable-workflows/go-lint                                  @Typeform/architecture
shared-actions/send-deployment-event                        @Typeform/architecture
workflow-templates/send-deployment-event.properties.json    @Typeform/architecture
workflow-templates/send-deployment-event.svg                @Typeform/architecture
workflow-templates/send-deployment-event.yml                @Typeform/architecture
workflow-templates/ci-standard-checks.yml                   @Typeform/product-infrastructure
workflow-templates/ci-standard-checks.svg                   @Typeform/product-infrastructure
workflow-templates/ci-standard-checks.properties.json       @Typeform/product-infrastructure
workflow-templates/frontend-canary-cleanup.yml              @Typeform/architecture
workflow-templates/frontend-canary-cleanup.svg              @Typeform/architecture
workflow-templates/frontend-canary-cleanup.properties.json  @Typeform/architecture
