* @Typeform/security
reusable-workflows/go-lint                                  @Typeform/backend-architecture
shared-actions/send-deployment-event                        @Typeform/engineering-intelligence
workflow-templates/send-deployment-event.properties.json    @Typeform/engineering-intelligence
workflow-templates/send-deployment-event.svg                @Typeform/engineering-intelligence
workflow-templates/send-deployment-event.yml                @Typeform/engineering-intelligence
workflow-templates/ci-standard-checks.yml                   @Typeform/engineering-intelligence
workflow-templates/ci-standard-checks.svg                   @Typeform/engineering-intelligence
workflow-templates/ci-standard-checks.properties.json       @Typeform/engineering-intelligence
workflow-templates/frontend-canary-cleanup.yml              @Typeform/frontend-architecture
workflow-templates/frontend-canary-cleanup.svg              @Typeform/frontend-architecture
workflow-templates/frontend-canary-cleanup.properties.json  @Typeform/frontend-architecture
