name: CI Standard Checks Workflow

on:
  workflow_call:
    inputs:
      skipChecks:
        type: string
        required: false
        default: ''
        description: 'Checks to be skipped'
      enableChecks:
        type: string
        required: false
        default: ''
        description: 'Optional checks to enable'
      useBeta:
        type: boolean
        required: false
        default: false
        description: 'whether to use Typeform/ci-standard-checks@v1-beta'

jobs:
  ci-standard-checks:
    runs-on: 'ubuntu-latest'
    steps:
      - name: Check Out Source Code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v6
        with:
          node-version: 20
      - name: CI Standard Checks
        if: ${{ inputs.useBeta == false }}
        uses: Typeform/ci-standard-checks@v1
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          skipChecks: ${{ inputs.skipChecks }}
          enableChecks: ${{ inputs.enableChecks }}
      - name: CI Standard Checks @v1-beta
        if: ${{ inputs.useBeta == true }}
        uses: Typeform/ci-standard-checks@fix-redocly-config-path
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          skipChecks: ${{ inputs.skipChecks }}
          enableChecks: ${{ inputs.enableChecks }}
